body {
    margin: 0%;
    padding: 0%;
    background-image: url("../photos/16.jpg");
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;

}

.bouton{
text-align: center;

}
.button {
    background: transparent;
    border-color: greenyellow;
    border-radius: 999px;
    color: greenyellow;
    cursor: pointer;
    font-family: 'Genos', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 24px;
    padding: 8px 18px;
    
}